a {
  cursor: pointer;
}

.loading-page {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  color: #191654;
}

.logo-name img {
  size: 300px;
  position: center;
  padding: 20px;
}

.grid-con h1 {
  font-size: 2rem;
  color: #191654;
  font-weight: 700;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
